.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
storage/original/*
storage/processed/*
storage/published/*
!storage/original/.gitkeep
!storage/processed/.gitkeep
!storage/published/.gitkeep
input-workbooks/*
!input-workbooks/.gitkeep
dist/*
!dist/.gitkeep
